

.button {
    width: 100px;
    height: 45px;
    border-radius: 5px;
    box-shadow: .5px .5px 1px 2px #8b8b8b;
    background:rgb(183, 214, 248);
    text-decoration: none;
    font-size: larger;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.button:hover{
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.main{
    padding: 2%;
    padding-top: 5%;
    border-radius: 20px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.page {
    padding: 10px;
    background-color: white;
    border-radius: 15px;
    border-top: 2px solid;
    border-left: 2px solid;
    border-right: 10px solid;
    border-bottom: 10px solid;
}
