

button {
    width: 50%;
    height: 20%;
    padding: 15px 30px;
    border-radius: 5px;
    box-shadow: .5px .5px 1px 2px #8b8b8b;
    background:rgb(183, 214, 248);
}

button:hover{
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.main{
    padding: 2%;
    margin: 3%;
    padding-top: 5%;
    border-radius: 20px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

a {
    text-decoration: none;
    color: black;
    font-size: larger;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 80px;
}

p {
    font-family: 'Baloo 2', cursive;
}

@font-face {
    font-family: 'Baloo 2', cursive;
    src: url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&display=swap');
}